{% load widget_tweaks %}
{% load crispy_forms_tags %}
<form method="POST" autocomplete="off">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title text-center">Crear Proveedor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% render_field field class="form-control" placeholder=field.label %}
                <div class="{% if field.errors %} invalid{% endif %}">
                    {% for error in field.errors %}
                        <p class="help-block" style="color:red;">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="modal-footer">
        <button type="button" class="submit-btn btn btn-outline-danger">
            <i class="fas fa-save"></i>&nbsp;Crear
        </button>
    </div>
</form>
<script type="text/javascript">
    $('#id_abreviatura').bind('keypress',bloquear_especiales);
    function bloquear_especiales (event) { 
        var regex = new RegExp("^[a-z A-Z0-9]+$"); 
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode); 
        if (!regex.test(key)) { 
            event.preventDefault();
            alert('No se admiten caracteres especiales en la llave primaria');
            return false; 
        } 
    }
</script>