{% load widget_tweaks %}
{% load crispy_forms_tags %}
<form method="POST" data-url="{% url 'AjusteTipo_Editar' form.instance.pk %}" class="update-form" autocomplete="off">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title text-center">Editar</h5>
    </div>
    <div class="modal-body">
        <div class="form-group" id="div_tipo_mov">
            {{ form.tipo_mov.label_tag }}
            {% render_field form.tipo_mov class="form-control form-control-sm" %}
            <div class="{% if form.tipo_mov.errors %} invalid{% endif %}">
                {% for error in form.tipo_mov.errors %}
                    <p class="help-block" style="color:red;">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="form-group" id="div_descripcion">
            {{ form.descripcion.label_tag }}
            {% render_field form.descripcion class="form-control form-control-sm" %}
            <div class="{% if form.descripcion.errors %} invalid{% endif %}">
                {% for error in form.descripcion.errors %}
                    <p class="help-block" style="color:red;">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="submit-btn btn btn-primary" id ="btnActualiza">
            <i class="fas fa-plus"></i>&nbsp; Actualizar
        </button>
        <button type="button" class="submit-btn btn btn-danger" data-dismiss="modal" aria-label="close">
            <i class="fa fa-times"></i>&nbsp; cancelar
        </button>
    </div>
</form>
<script>
    $('#div_tipo_mov').hide();
</script>