{% extends 'fenimarket/mk_base.html' %}
{% block contenido %}
<div class="row">
    <div class="col">
        <h1>Cat&aacute;logo de Productos - INFAC</h1>
        <div class="card py-3 border-left-danger">
            <div class="card-body table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Grupo</th>
                            <th scope="col">Subgrupo</th>
                            <th scope="col">C&oacute;digo</th>
                            <th scope="col">E</th>
                            <th scope="col">Especificaci&oacute;n</th>
                            <th scope="col">PrecioA</th>
                            <th scope="col">PrecioB</th>
                            <th scope="col">PrecioC</th>
                            <th scope="col">PrecioD</th>
                            <th scope="col">PrecioE</th>
                            <th scope="col">Cod. Barra</th>
                            <th scope="col">Proveedor</th>
                        </tr>
                    </thead>
                    <tbody>
            
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
