{% extends 'cartera/base_cart.html' %}
{% load static %}
{% block extracss %}
    <link rel="stylesheet" href="{% static 'demostracion/vendor/datatables/dataTables.bootstrap4.min.css' %}">
{% endblock extracss %}
{% block contenido %}
<div class="row">
    <div class="col">
        <div class="card py-3 border-left-purple">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10">
                        <h4 class="m-0 font-weight-bold text-primary">Cat&aacute;logo de clientes</h4>
                    </div>
                    <div class="col-md-2">
                        <a type="button" role="button" class="btn btn-outline-primary" href="{% url 'vta_cliente_nuevo' 1 %}">
                            <i class="fa fa-plus"></i> Nuevo</a>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="table-responsive">
                    <table id="dataTable" class="table table-sm table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Cedula</th>
                                <th scope="col">Nombres</th>
                                <th scope="col">Organizaci&oacute;n</th>
                                <th scope="col">Membres&iacute;a</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in cliente %}
                                <tr>
                                    <td>{{ i.pk }}</td>
                                    <td>{{ i.nombres|title }}&nbsp;{{ i.apellidos|title }}</td>
                                    <td>{% for j in i.cooperativa.all %} {{ j }}<br>{% endfor %}</td>
                                    <td>{{ i.membresia }}</td>
                                    <td>
                                        {% if i.pk == '0' %}
                                            <span><small>System record</small></span>
                                        {% else %}
                                            <a role="button" class="btn btn-outline-info btn-sm" href="{% url 'vta_cliente_editar' i.pk 1 %}">
                                                <i class="fas fa-pencil-alt"></i>&nbsp;Editar
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% empty %}
                                <tr><td colspan="5"><h4>No hay registros</h4></td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block extrascripts %}
<script type="text/javascript" src="{% static 'demostracion/vendor/datatables/jquery.dataTables.js' %}"></script>
<script type="text/javascript" src="{% static 'demostracion/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'demostracion/js/tablas.js' %}" type="text/javascript"></script>
{% endblock extrascripts %}