{% load widget_tweaks %}
{% load crispy_forms_tags %}
<form method="POST" data-url="{% url 'Bodega_Crear' %}" class="create-form" autocomplete="off">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title text-center">Crear Bodega</h5>
    </div>
    <div class="modal-body">
        <div class="form-group col-md-12" id="div_id_bodega">
                {{ form.id_bodega.label_tag }}
                {% render_field form.id_bodega class="form-control form-control-sm" %}
                <div class="{% if form.id_bodega.errors %} invalid{% endif %}">
                    {% for error in form.id_bodega.errors %}
                        <p class="help-block" style="color:red;">{{ error }}</p>
                    {% endfor %}
                </div>
        </div>
        <div class="form-group col-md-12" id="div_sucursal">
                {{ form.sucursal.label_tag }}
                {% render_field form.sucursal class="form-control form-control-sm" %}
                <div class="{% if form.sucursal.errors %} invalid{% endif %}">
                    {% for error in form.sucursal.errors %}
                        <p class="help-block" style="color:red;">{{ error }}</p>
                    {% endfor %}
                </div>
        </div>
        <div class="form-group col-md-12" id="div_siglas">
                {{ form.siglas.label_tag }}
                {% render_field form.siglas class="form-control form-control-sm"  onpaste="return false" onkeypress="return alpha(event)" %}
                <div class="{% if form.id_bodega.errors %} invalid{% endif %}">
                    {% for error in form.id_bodega.errors %}
                        <p class="help-block" style="color:red;">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="{% if form.siglas.errors %} invalid{% endif %}">
                    {% for error in form.siglas.errors %}
                        <p class="help-block" style="color:red;">{{ error }}</p>
                    {% endfor %}
                </div>
        </div>
        <div class="form-group col-md-12" id="div_nombre">
                {{ form.nombre.label_tag }}
                {% render_field form.nombre class="form-control form-control-sm" %}
                <div class="{% if form.nombre.errors %} invalid{% endif %}">
                    {% for error in form.nombre.errors %}
                        <p class="help-block" style="color:red;">{{ error }}</p>
                    {% endfor %}
                </div>
        </div>
        <div class="form-group col-md-12" id="div_tipo">
                {{ form.tipo.label_tag }}
                <select name="tipo" id="id_tipo"  class="form-control form-control-sm">
                    <option value="F">Facturable</option>
                    <option value="N">No Facturable</option>
                </select>
                <!-- {% render_field form.tipo class="form-control form-control-sm" %} -->
                <div class="{% if form.tipo.errors %} invalid{% endif %}">
                    {% for error in form.tipo.errors %}
                        <p class="help-block" style="color:red;">{{ error }}</p>
                    {% endfor %}
                </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="submit-btn btn btn-primary">
            <i class="fas fa-plus"></i>&nbsp; Crear
        </button>
        <button type="button" class="submit-btn btn btn-danger" data-dismiss="modal" aria-label="close">
            <i class="fa fa-times"></i>&nbsp; cancelar
        </button>
    </div>
</form>

<script>
        $('#div_id_bodega').hide();
        $('#div_sucursal').hide();
</script>
<script>
    $('#id_siglas').on('keyup',function () {
        var co = ($('#id_siglas').val()).toUpperCase();
        $("#id_siglas").val(co);
    });
    $('#id_siglas').bind('keypress',bloquear_especiales);
    function bloquear_especiales (event) { 
        var regex = new RegExp("^[a-z A-Z0-9]+$"); 
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode); 
        if (!regex.test(key)) { 
            event.preventDefault();
            return false; 
        } 
    }
    
    $('#id_siglas').on('keypress',function(){
        console.log(e.keyCode);
        if (e.keyCode == 101 || e.keyCode == 46 /*|| e.keyCode == 45*/ || e.keyCode == 43 || e.keyCode == 44 || e.keyCode == 47) {
            return false;
        }
        soloNormales(e.keyCode);
    });
    
    function soloNormales(e) {
        var key = window.Event ? e.which : e.keyCode
            return (key >= 48 && key <= 57)
    }

    function alpha(e) {
        var k;
        document.all ? k = e.keyCode : k = e.which;
        return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8|| (k >= 48 && k <= 57)); 
    } 



</script>