<div class="modal-header">
    <h5 class="modal-title" id="exampleModalScrollableTitle">Cantidad</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="input-group mb-3">
        <input id="{{  }}" type="number" class="form-control" min="1" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
        <div class="input-group-append" id="button-addon4">
            <button class="btn btn-outline-secondary" type="button">+1</button>
            <button class="btn btn-outline-secondary" type="button">+10</button>
        </div>
    </div>
    <div class="modal-footer">
        <button id='temp_cant' class="btn btn-success" data-dismiss="modal">Cambiar</button>
    </div>
</div>
<script type="text/javascript">
    console.log('Hola Mundo');
</script>