{% load widget_tweaks %}
{% load crispy_forms_tags %}
<form method="POST" data-url="{% url 'N3Producto_Editar' form.instance.pk %}" class="update-form" autocomplete="off">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title text-center">Editar Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div  class="form-group col-md-12" >
            {% if messages %}
                {% for i in messages %}
                    <div class="alert alert-{{ i.tags }}">{{ i }}</div>
                {% endfor %}
            {% endif %} 
        </div>
        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
        <div class="form-row">
            <div class="form-group col-md-12" >
                {{ form.id_n3.label_tag }}
                {% render_field form.id_n3 class="form-control form-control-sm" %}
                <div class="{% if form.chasis.errors %} invalid{% endif %}">
                    {% for error in form.id_n3.errors %}
                        <p class="help-block" style="color:red;">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4" id="divrubro">
                {{ form.rubro.label_tag }}
                {% render_field form.rubro class="form-control form-control-sm" %}
                <div class="{% if form.rubro.errors %} invalid{% endif %}">
                    {% for error in form.rubro.errors %}
                        <p class="help-block" style="color:red;">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group col-md-6">
                {{ form.familia.label_tag }}
                <input name="familia" class="form-control form-control-sm" id="id_familia" value="{{ form.familia.value }}" readonly>
                <!-- {% render_field form.familia class="form-control form-control-sm" %} -->
                <div class="{% if form.familia.errors %} invalid{% endif %}">
                    {% for error in form.familia.errors %}
                        <p class="help-block" style="color:red;">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group col-md-6">
                {{ form.exorubro.label_tag }}
                {% render_field form.exorubro class="form-control form-control-sm" %}
                <div class="{% if form.exorubro.errors %} invalid{% endif %}">
                    {% for error in form.exorubro.errors %}
                        <p class="help-block" style="color:red;">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                {{ form.descripcion.label_tag }}
                {% render_field form.descripcion class="form-control form-control-sm" %}
                <div class="{% if form.descripcion.errors %} invalid{% endif %}">
                    {% for error in form.descripcion.errors %}
                        <p class="help-block" style="color:red;">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                {{ form.medida.label_tag }}
                {% render_field form.medida class="form-control form-control-sm" %}
                <div class="{% if form.medida.errors %} invalid{% endif %}">
                    {% for error in form.medida.errors %}
                        <p class="help-block" style="color:red;">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group col-md-4">
                {{ form.entero.label_tag }}
                {% render_field form.entero class="form-control form-control-sm" %}
                <div class="{% if form.entero.errors %} invalid{% endif %}">
                    {% for error in form.entero.errors %}
                        <p class="help-block" style="color:red;">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group col-md-4">
                {{ form.naturaleza.label_tag }}
                {% render_field form.naturaleza class="form-control form-control-sm" %}
                <div class="{% if form.naturaleza.errors %} invalid{% endif %}">
                    {% for error in form.naturaleza.errors %}
                        <p class="help-block" style="color:red;">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                {{ form.descontinuado.label_tag }}
                {% render_field form.descontinuado class="form-control form-control-sm" %}
                <div class="{% if form.descontinuado.errors %} invalid{% endif %}">
                    {% for error in form.descontinuado.errors %}
                        <p class="help-block" style="color:red;">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group col-md-4">
                {{ form.minimo.label_tag }}
                {% render_field form.minimo class="form-control form-control-sm" %}
                <div class="{% if form.minimo.errors %} invalid{% endif %}">
                    {% for error in form.minimo.errors %}
                        <p class="help-block" style="color:red;">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group col-md-4">
                {{ form.maximo.label_tag }}
                {% render_field form.maximo class="form-control form-control-sm" %}
                <div class="{% if form.maximo.errors %} invalid{% endif %}">
                    {% for error in form.maximo.errors %}
                        <p class="help-block" style="color:red;">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                {{ form.costo.label_tag }}
                {% render_field form.costo class="form-control form-control-sm" %}
                <div class="{% if form.costo.errors %} invalid{% endif %}">
                    {% for error in form.costo.errors %}
                        <p class="help-block" style="color:red;">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group col-md-4">
                {{ form.codfabrica.label_tag }}
                {% render_field form.codfabrica class="form-control form-control-sm" %}
                <div class="{% if form.codfabrica.errors %} invalid{% endif %}">
                    {% for error in form.codfabrica.errors %}
                        <p class="help-block" style="color:red;">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group col-md-4">
                {{ form.sac.label_tag }}
                {% render_field form.sac class="form-control form-control-sm" %}
                <div class="{% if form.sac.errors %} invalid{% endif %}">
                    {% for error in form.sac.errors %}
                        <p class="help-block" style="color:red;">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                {{ form.aplicacion.label_tag }}
                {% render_field form.aplicacion class="form-control form-control-sm" %}
                <div class="{% if form.aplicacion.errors %} invalid{% endif %}">
                    {% for error in form.aplicacion.errors %}
                        <p class="help-block" style="color:red;">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="submit-btn btn btn-primary" id="btnActualiza">
            <i class="fas fa-plus"></i>&nbsp; Actualizar
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="close">
            <i class="fa fa-times"></i>&nbsp; cancelar
        </button>
    </div>
</form>
<script type="text/javascript">
    $('#id_id_n3').prop('readonly', true);
    $('#id_codigo').prop('readonly', true);
    $('#id_familia').prop('disabled',true);
    $('#btnActualiza').on('click',desactiva);
    $('#divrubro').hide();
    function desactiva(){
        $('#id_familia').prop('disabled',false);
    }
    $('#id_preciomax').blur(function(){
    	alert('El precio minimo no debe ser mayor que el precio maximo');
	});

</script>
<script>    
    //Script que bloquea los tipos number
    jQuery('input[type=number]').keypress(function(tecla){
        // console.log(tecla.charCode);
        // console.log(this.value.length)
        //46 = .
        //45 = -
        //se ponen las teclas que no se admiten solo admitir numeros y la primera son los numeros los otros son la e y el punto
        if((tecla.charCode < 48 || tecla.charCode > 57) && tecla.charCode != 46){
            return false;
        }
        var regex = /^[0-9]{0,7}$|^[0-9]{0,7}[.{0,1}[0-9]{0,2}]{0,1}$/; // number with 2 decimal places
        if (!regex.test(this.value)) {
            return false;
        }
    });
</script>