{% extends 'vta/base_vta.html' %}
{% load static %}
{% block extracss %}
    <link rel="stylesheet" href="{% static 'vta/estilos/style_fact.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock extracss %}
{% block contenido %}
<!-- -------------------------------------------------------------------- -->
<!--         Formulario modal para agregar clientes  -->
<!-- -------------------------------------------------------------------- -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Selecci&oacute;n de cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="txtcedula" type ="text" class="form-control form-control-sm" autofocus>
                <br>
                {{ form.cliente }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- -------------------------------------------------------------------- -->
<!--         Formulario modal para agregar items  -->
<!-- -------------------------------------------------------------------- -->
<div class="modal fade" id="modal_item" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Cat&aacute;logo de items</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="tabla-item" class="table">
                    <thead>
                        <tr>
                            <th scope="col">C&oacute;digo</th>
                            <th scope="col">Descripci&oacute;n</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Elegir</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in articulos %}
                            <tr>
                                <td>{{ i.codigo }}</td>
                                <td>{{ i.descripcion }}</td>
                                <td>{{ i.preciomax|floatformat:2 }}</td>
                                <td style="text-align: center;">
                                    <input class="form-check-input" type="checkbox" value="{{ i.codigo }}" onclick="alerta(this);">
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button id='temp_item' class="btn btn-primary" data-dismiss="modal" onclick="guardar_tempo();">Agregar</button>
            </div>
        </div>
    </div>
</div>
<!-- -------------------------------------------------------------------- -->
<!--         Ventana Principal  -->
<!-- -------------------------------------------------------------------- -->
<div class="container">
    {% if messages %}
        {% for i in messages %}
            <div class="alert alert-{{ i.tags }}">{{ i }}</div>
        {% endfor %}
    {% endif %}
    <form method="POST" target="_blank">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <h3 id="encabezado">FACTURA</h3>
            </div>
            <div class="card-body">
                <article>
                    <address>
                        <h6>Cliente: </h6>
                        <p id="pcliente"></p>
                        <div class="input-group mb-3">
                            <input id="cliente_personalizado" type="text" class="form-control" placeholder="A nombre de ..." aria-label="A nombre de ..." aria-describedby="btn_buscar" required>
                            <div class="input-group-append">
                                <button data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-secondary" type="button" id="btn_buscar">Buscar</button>
                            </div>
                        </div>
                            {{ form.cliente.errors }}
                            <input type="hidden" name="cliente" id="cliente_oculto" required>
                    </address>
                    <table class="meta">
                        <tr>
                            <th><span>Factura #</span></th>
                            <td><span style="color:red;"><strong>{{ ref }}</strong></span></td>
                        </tr>
                        <tr>
                            <th><span>Fecha emisi&oacute;n</span></th>
                            <td><span>{{ hoy|date:"SHORT_DATE_FORMAT" }}</span></td>
                        </tr>
                        <tr>
                            <th><span>Fecha vencimiento</span></th>
                            <td><span>{{ vencimiento|date:"SHORT_DATE_FORMAT" }}</span></td>
                        </tr>
                        <tr>
                            <th><span>Forma de pago</span></th>
                            <td>{{ form.formapago }}</td>
                        </tr>
                        <tr>
                            <th><span>Total</span></th>
                            <td><span id="prefix">C$ &nbsp;</span><span id="txtMaestro">{{ total|floatformat:2 }}</span></td>
                        </tr>
                    </table>
                    <table class="inventory">
                        <thead>
                            <tr>
                                <th style="width: 90px;"><span>Item</span></th>
                                <th style="width: 360px;"><span>Descripci&oacute;n</span></th>
                                <th><span>P. Unitario</span></th>
                                <th><span>Cantidad</span></th>
                                <th><span>P. Total</span></th>
                            </tr>
                        </thead>
                        <tbody id="tbl_detalle">
                            {% for i  in temporal %}
                            <tr>
                                <td><span id="codigo-{{ forloop.counter }}">{{ i.articulo.codigo }}</span></td>
                                <td>{{ i.articulo.descripcion }}</td>
                                <td style="text-align: right;"><span id="pu-{{ forloop.counter }}">{{ i.articulo.precio|floatformat:4 }}</span></td>
                                <td style="text-align:right; ">
                                    <input type="number" id="cant-{{ forloop.counter }}" value="{{ i.cantidad }}" style="width:90%; border:none; text-align: right;" min="1" step="1" onchange="multiplicar(this);" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                                </td>
                                <td style="text-align: right;">
                                    <span id="total-{{ forloop.counter }}">{{ i.factor|floatformat:2 }}</span>
                                    &nbsp;
                                    <a href="{% url 'url_quitar_item' i.articulo.codigo 'vta' %}">
                                        <i class="fa fa-times" aria-hidden="true" style="color:red; font-size: 1.5em;"></i>
                                    </a>
                                </td>
                            </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="5">
                                        <h5>Haga clic en el botón 'items' para a&ntilde;adir elementos</h5>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal_item">
                        Items
                    </button>
                    <table class="balance">
                        <tr>
                            <th><span>Sub Total</span></th>
                            <td style="text-align: right;"><span id="txtSubTotal">{{ subtotal|floatformat:2 }}</span>&nbsp; &nbsp;</td>
                        </tr>
                        <tr>
                            <th>
                                <span>Descuento</span>
                                <label class="switch">
                                    <input id="sw-descuento" type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </th>
                            <td style="text-align: right;">{{ form.descuentotal }}</td>
                        </tr>
                        <tr>
                            <th><span>IVA</span></th>
                            <td style="text-align: right;"><span id="txtIVA">{{ iva|floatformat:2 }}</span>&nbsp; &nbsp;</td>
                        </tr>
                        <tr>
                            <th><span>Total</span></th>
                            <td style="text-align:right;"><span data-prefix>C$ &nbsp;</span><span id="txtTotal">{{ total|floatformat:2 }}</span>&nbsp; &nbsp;</td>
                        </tr>
                    </table>
                </article>
            </div>
            <div class="card-footer text-muted">
                <a class="btn btn-outline-primary" href="{% url 'url_quitar_item' 'todo' 'vta' %}" role="button">Nuevo</a>
                <button type="submit" class="btn btn-outline-info" name="submit_proforma">Proforma</button>
                <button id="btn_facturar" type="submit" class="btn btn-outline-danger" name="submit_factura">Facturar</button>
            </div>
        </div>
    </form>
</div>
{% endblock contenido %}
{% block extrascripts %}
<script src="{% static 'inventario/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="{% static 'vta/js/factura2.js' %}"></script>
<script type="text/javascript">
    var arreglo = [];
    document.getElementById('id_cliente').disabled = true;
    $(document).ready(function(){
        $("#id_formapago").on('change',cambiarcabecera);
        /*$("#id_cliente").on('change',obtenerid);*/
        $('#txtcedula').on('change', obtenerid);
        $("#txtcedula").on('paste', function(e){
            e.preventDefault();
        });
        $("#btn_facturar").on('click',recargar);
        $("#btn_buscar").on("click",tiempo);
        $('#tabla-item').DataTable({
            "language":{
                "lengthMenu":"Mostrar  _MENU_  registros por página",
                "zeroRecords":"No se encontraron coincidencias",
                "info": "Página _PAGE_ de _PAGES_",
                "infoEmpty":"No hay registros",
                "infoFiltered":"(filtrado de un total de _MAX_ registros)",
                "search":"Búsqueda:",
                "paginate":{
                    "first":"Primero",
                    "last":"Último",
                    "next":"Siguiente",
                    "previous":"Anterior",
                }
            },
            "ordering": false
        });
        $('#cliente_personalizado').on('keyup', function(){
            a = this.value;
            if (a.length > 0){
                $('#cliente_oculto').val('0');
                $('#pcliente').html();
            }
            else{
                $('#cliente_oculto').val('');
            }
        });
        $('#exampleModal').on('shown.bs.modal', function () {
            $('#txtcedula').focus();
})
    });
/*
    function recargar(){
        setTimeout(function(){
            location.reload(true);
            },2500
        );
    }
*/
    function tiempo(){
        $("#txtcedula").val("");
        setTimeout(function(){
            $('#exampleModal').modal('hide');}
            ,2500);
    }

    function alerta(item){
        if (item.checked){
            arreglo.push(item.value);
        }
        else{
            for (var i=0; i<arreglo.length; i++){
                if (arreglo[i] === item.value){
                    arreglo.splice(i,1);
                }
            }
        }
    }
    
    function guardar_tempo(){
        if (arreglo.length > 0){
            var item =""
            for(var i=0; i<arreglo.length; i++){
                item += arreglo[i] +',';
            }
            var request =$.ajax({type:"GET", 
                                url: "{% url 'url_ajax_item' %}", 
                                data: {"item":item,},});  
            request.done(function(response){
                $('#id_descuentotal').val("0.00");
                $('#sw-descuento').prop('checked',false);
                $('#tbl_detalle').html(response.tabla);
                $('#txtSubTotal').html(response.subtotal);
                $('#txtIVA').html(response.iva);
                $('#txtTotal').html(response.total);
                $('#txtMaestro').html(response.total);
            });
        }
    }

    $('#sw-descuento').on('click', function(){
        if (this.checked){
            if ($('#cliente_oculto').val() && $('#id_formapago').val()){
                var var_desc = "";
                var_desc = $('#cliente_oculto').val() + ';' + $('#id_formapago').val();
                var request = $.ajax({
                    type: "GET",
                    url: "{% url 'url_ajax_descuento' %}",
                    data: {'parametros':var_desc,}
                });
                request.done(function(response){
                    $('#id_descuentotal').val(response.descuento);
                    $('#txtIVA').html((($('#txtSubTotal').html() - response.descuento) * 0.15).toFixed(2));
                    $('#txtTotal').html((($('#txtSubTotal').html() - response.descuento) * 1.15).toFixed(2));
                    $('#txtMaestro').html($('#txtTotal').html());
                });
            }
            else{
                alert('Debe ingresar el cliente y la forma de pago previo al descuento');
                this.checked = false;
            }
        }else{
            $('#id_descuentotal').val('0.00');
            $('#txtIVA').html(($('#txtSubTotal').html() * 0.15).toFixed(2));
            $('#txtTotal').html(($('#txtSubTotal').html() * 1.15).toFixed(2));
            $('#txtMaestro').html($('#txtTotal').html());
        }
    });
</script>
{% endblock extrascripts %}