<p class='text-muted'>Venta Quick Links
    <ul class="list-group">
        <li class="list-group-item list-group-item-light">
            <a href="{% url 'conf_condicion' %}">
                <i class="fas fa-balance-scale"></i>&nbsp;Condiciones
            </a>
        </li>
        <li class="list-group-item list-group-item-light">
            <a href="{% url 'conf_exoformula' %}">
                <i class="fas fa-percentage"></i>&nbsp;Exoneraciones</a>
        </li>
        <li class="list-group-item list-group-item-light">
            <a href="{% url 'conf_formapago' %}">
                <i class="far fa-money-bill-alt"></i>&nbsp;Formas de pago
            </a>
        </li>
        <li class="list-group-item list-group-item-light">
            <a href="{% url 'conf_vendedor' %}">
                <i class="fas fa-user-secret"></i>&nbsp;Vendedores
            </a>
        </li>
        <li class="list-group-item list-group-item-light">
            <a href="{% url 'configuracion' %}">
                <i class="fas fa-reply"></i>&nbsp;Regresar al men&uacute;
            </a>
        </li>
    </ul>
</p>