{% load widget_tweaks %}
{% load crispy_forms_tags %}
<form method="POST" data-url="{% url 'Precio_Editar' form.instance.pk%}" class="update-form" autocomplete="off">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title text-center">Editar</h5>
    </div>
    <div class="modal-body">
        <div class="form-group" id="div_id_precio">
            {{ form.id_precio.label_tag }}
            {% render_field form.id_precio class="form-control form-control-sm" %}
            <div class="{% if form.id_precio.errors %} invalid{% endif %}">
                {% for error in form.id_precio.errors %}
                    <p class="help-block" style="color:red;">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            {{ form.descripcion.label_tag }}
            {% render_field form.descripcion class="form-control form-control-sm" %}
            <div class="{% if form.descripcion.errors %} invalid{% endif %}">
                {% for error in form.descripcion.errors %}
                    <p class="help-block" style="color:red;">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="submit-btn btn btn-primary" id ="btnActualiza">
            <i class="fas fa-plus"></i>&nbsp; Actualizar
        </button>
        <button type="button" class="submit-btn btn btn-danger" data-dismiss="modal" aria-label="close">
            <i class="fa fa-times"></i>&nbsp; cancelar
        </button>
    </div>
</form>
<script>
    $('#div_id_precio').hide();
</script>