{% extends 'panel/base.html' %}
{% block contenido %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="content-section">
                <div class="row"><h4 style="color:gray;">Formas de Pago</h4></div>    
                <div class="border-top pt-3"></div>
                <br>
                <div class="table-responsive">
                    <table class="table table-sm table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Condici&oacute;n</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in pago %}
                            <tr>
                                <td>{{ i.nombre }}</td>
                                <td>{{ i.condicion.nombre }}</td>
                            </tr>
                            {% empty %}
                                <tr><td colspan="2"><h4>No hay registros</h4></td><tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="border-top pt-3" style="text-align: center;"> 
                    <small>Puede agregar otras formas de pago personalizadas si lo desea, pero no puede alterar los registros existentes.</small>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="content-section">
                <h3>Men&uacute; Contextual</h3>
                {% include 'panel/venta/vtalinks.html' %}
            </div>
        </div>
    </div>
</main>
{% endblock contenido %}