{% load widget_tweaks %}
{% load crispy_forms_tags %}
<form method="POST" data-url="{% url 'ModeloVehiculo_Editar' form.instance.id_modelo %}" class="update-form" autocomplete="off">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title text-center">Editar Modelo</h5>
    </div>
    <div class="modal-body">
            <div class="form-row">
                <div class="form-group col-md-4">
                    {{ form.id_modelo.label_tag }}
                    {% render_field form.id_modelo class="form-control form-control-sm" %}
                    <div class="{% if form.id_modelo.errors %} invalid{% endif %}">
                        {% for error in form.id_modelo.errors %}
                            <p class="help-block" style="color:red;">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group col-md-4">
                    {{ form.marca.label_tag }}
                    <input name="marca" type="text" class="form-control form-control-sm" id= "id_marca" value="{{ form.marca.value }}" readonly>
                    <div class="{% if form.marca.errors %} invalid{% endif %}">
                        {% for error in form.marca.errors %}
                            <p class="help-block" style="color:red;">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group col-md-4">
                    {{ form.anyo.label_tag }}
                    {% render_field form.anyo class="form-control form-control-sm" %}
                    <div class="{% if form.anyo.errors %} invalid{% endif %}">
                        {% for error in form.anyo.errors %}
                            <p class="help-block" style="color:red;">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    {{ form.tipo.label_tag }}
                    {% render_field form.tipo class="form-control form-control-sm" %}
                    <div class="{% if form.tipo.errors %} invalid{% endif %}">
                        {% for error in form.tipo.errors %}
                            <p class="help-block" style="color:red;">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group col-md-4">
                    {{ form.cilindraje.label_tag }}
                    {% render_field form.cilindraje class="form-control form-control-sm" %}
                    <div class="{% if form.cilindraje.errors %} invalid{% endif %}">
                        {% for error in form.cilindraje.errors %}
                            <p class="help-block" style="color:red;">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group col-md-4">
                    {{ form.combustible.label_tag }}
                    {% render_field form.combustible class="form-control form-control-sm" %}
                    <div class="{% if form.combustible.errors %} invalid{% endif %}">
                        {% for error in form.combustible.errors %}
                            <p class="help-block" style="color:red;">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form.modelo.label_tag }}
                    {% render_field form.modelo class="form-control form-control-sm" %}
                    <div class="{% if form.modelo.errors %} invalid{% endif %}">
                        {% for error in form.modelo.errors %}
                            <p class="help-block" style="color:red;">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="submit-btn btn btn-primary" id ="btnActualiza">
            <i class="fas fa-plus"></i>&nbsp; Actualizar
        </button>
        <button type="button" class="submit-btn btn btn-danger" data-dismiss="modal" aria-label="close">
            <i class="fa fa-times"></i>&nbsp; cancelar
        </button>
    </div>
</form>

<script>
    
    $('#id_id_modelo').prop('readonly',true);
    $('#id_marca').prop('disabled',true);
    $('#id_anyo').prop('readonly',true);

    $('#btnActualiza').on('click',desactiva);
    
    function desactiva(){
        $('#id_marca').prop('disabled',false);
    }
    
    $('#id_modelo').bind('keypress',bloquear_especiales);
    function bloquear_especiales (event) { 
        var regex = new RegExp("^[a-z A-Z0-9]+$"); 
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode); 
        if (!regex.test(key)) { 
            event.preventDefault();
            return false; 
        } 
    }

</script>