{% load static %} {% load humanize %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Ajuste {{ msr.referencia }}</title>
    <link rel="stylesheet" href="{% static 'inv/css/factura.css' %}" />
    <link
      rel="license"
      href="https://www.opensource.org/licenses/mit-license/"
    />
  </head>
  <body>
    <header>
      <h1>AJUSTE {{ msr.ajuste }}</h1>
      <address>
        <p>MultiComercial S.P</p>
        <p>{{ suc.sucursal.direccion }}<br />Sucursal {{ suc.sucursal }}</p>
        <p>{{ suc.sucursal.telefonos }}</p>
      </address>
      <span>
        <!-- <img
          width="100"
          height="100"
          src="{% static 'demostracion/imgs/logo-feni.png' %}"
        /> -->
      </span>
    </header>
    <article>
      <address>
        <p>{{ proforma.nombre }}</p>
        <p>
          {{ proforma.cliente.apellidos|title }}<br />{{
          proforma.cliente.nombres|title }}
        </p>
      </address>
      <table class="meta">
        <tr>
          <th><span>Referencia:</span></th>
          <td><span>{{ msr.referencia }}</span></td>
        </tr>
        <tr>
          <th><span>Fecha emision:</span></th>
          <td><span>{{ msr.fecha|date:"SHORT_DATE_FORMAT" }}</span></td>
        </tr>
        <tr>
          <th><span>Hora Creacion</span></th>
          <td>
            <span id="prefix"></span><span>{{ msr.fecha|date:'P' }}</span>
          </td>
        </tr>
        <tr>
          <th><span>Usuario:</span></th>
          <td><span>{{ suc.user }}</span></td>
        </tr>
      </table>
      <table class="inventory">
        <thead>
          <tr>
            <th style="width: 110px"><span>Item</span></th>
            <th style="width: 360px"><span>Descripci&oacute;n</span></th>
            <th><span>Cantidad</span></th>
            {% if suc.user.is_staff %}
            <th><span>C.Unitario</span></th>
            <th><span>Costo</span></th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for i in det %}
          <tr>
            <td><span>{{ i.item.pk }}</span></td>
            <td><span>{{ i.item }}</span></td>
            <td><span>{{ i.cantidad }}</span></td>
            {% if suc.user.is_staff %}
            <td><span>{{ i.costo_unitario|floatformat:2|intcomma }}</span></td>
            <td><span>{{ i.costo|floatformat:2|intcomma }}</span></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </article>
    <table>
      <tr>
        <th><span>Elaborado:</span></th>
        <td><span></span></td>
        <th><strong>Autorizado:</strong></th>
        <td><span></span></td>
      </tr>
      <tr>
        <th><strong>Entregado:</strong></th>
        <td><span></span></td>
        <th><strong>Recibido:</strong></th>
        <td><span></span></td>
      </tr>
    </table>
    <br />
    <aside>
      <h1><span>Comentarios</span></h1>
      <div contenteditable>
        <p>Ajuste {{ msr.ajuste }} realizado en sucursal {{ suc.sucursal }}</p>
        <p>Creado por {{ suc.user.first_name }} {{ suc.user.last_name }}</p>
      </div>
    </aside>
  </body>
</html>
